# IntelliJ
.idea/

# Env files
.env

# Cache
cache/container/*
!cache/container/.gitkeep
cache/doctrine/metadata/*
!cache/doctrine/metadata/.gitkeep
cache/doctrine/proxies/*
!cache/doctrine/proxies/.gitkeep

# Storage folders
var/database/*
!var/database/.gitkeep

# Logs
var/logs/*
!var/logs/.gitkeep

# Composer Vendor
vendor/

# Tests
tests/_output/*

# Others
.php_cs.cache
php_errors.log